* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  font-family: "Roboto", sans-serif, "Courier New", Courier, monospace;
}

.cuerpo_formulario {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 30vh 40vh 30vh;
  grid-template-areas: "encabezado" "formulario" "footer";
}

.formularios {
  width: 90%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
}

.nota__formulario {
  grid-area: formulario;
}

.nota__formulario h3 {
  font-size: 1rem;
  font-weight: 700;
  padding: 2%;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 3%;
  align-self: center;
  justify-self: center;
  height: 60vh;
}

.card-img-top {
  height: 200px;
}

.bg-qatar1 {
  background-color: #860080;
}

.bg-qatar2 {
  background-color: #860060;
}

.bg-qatar3 {
  background-color: #860050;
}

.bg-qatar4 {
  background-color: #860040;
}

.card-title {
  font-weight: bold;
}

@media (min-width: 480px) {
  .body__sedes {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 25vh 900vh 10vh;
    grid-template-areas: "encabezado" "sede" "footer";
  }
  .articulo__sede img {
    width: 92vw;
    height: 50vh;
  }
}
@media (min-width: 600px) {
  .body__sedes {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 25vh 600vh 10vh;
    grid-template-areas: "encabezado" "sede" "footer";
  }
  .sedes {
    grid-area: sede;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-self: first baseline;
    width: 45vw;
    height: 600vh;
  }
  .articulo__sede {
    padding: 5%;
    height: 150vh;
  }
  .articulo__sede img {
    width: 45vw;
    height: 40vh;
  }
  .articulo__sede p {
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  .body__sedes {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 25vh 570vh 10vh;
    grid-template-areas: "encabezado" "sede" "footer";
  }
  .sedes {
    grid-area: sede;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-self: first baseline;
    width: 45vw;
    height: 570vh;
  }
  .articulo__sede {
    padding: 5%;
    height: 140vh;
  }
  .articulo__sede img {
    width: 45vw;
    height: 45vh;
  }
  .articulo__sede p {
    font-size: 1rem;
  }
}
@media (min-width: 1024px) {
  .body__sedes {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 25vh 600vh 10vh;
    grid-template-areas: "encabezado" "sede" "footer";
  }
  .sedes {
    grid-area: sede;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-self: first baseline;
    width: 45vw;
    height: 600vh;
  }
  .articulo__sede {
    padding: 5%;
    height: 150vh;
  }
  .articulo__sede img {
    width: 45vw;
    height: 50vh;
  }
  .articulo__sede p {
    font-size: 1.2rem;
  }
}
@media (min-width: 1024px) {
  .body__sedes {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 25vh 600vh 10vh;
    grid-template-areas: "encabezado" "sede" "footer";
  }
  .sedes {
    grid-area: sede;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-self: first baseline;
    width: 55vw;
    height: 600vh;
  }
  .articulo__sede {
    padding: 5%;
    height: 150vh;
  }
  .articulo__sede img {
    width: 45vw;
    height: 50vh;
  }
  .articulo__sede p {
    font-size: 1.4rem;
  }
}
.cuerpo__qatar {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 30vh 80vh 30vh;
  grid-template-areas: "encabezado" "qatar" "footer";
}

.nota__qatar {
  grid-area: qatar;
}

.seccion__mapa img {
  width: 90vw;
  height: 95vh;
  padding: 5%;
}

.aside__ciudades {
  padding: 2%;
}

@media (min-width: 600px) {
  .cuerpo__qatar {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 30vh 100vh 30vh;
    grid-template-areas: "encabezado" "qatar" "footer";
  }
}
@media (min-width: 768px) {
  .cuerpo__qatar {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 30vh 100vh 30vh;
    grid-template-areas: "encabezado" "qatar" "footer";
  }
}
@media (min-width: 1024px) {
  .cuerpo__qatar {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 30vh 100vh 30vh;
    grid-template-areas: "encabezado" "qatar" "footer";
  }
  .seccion__mapa img {
    width: 90vw;
    height: 100vh;
    padding: 5%;
  }
}
.body__principal {
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 100vh 20vh 150vh 10vh 210vh 50vh;
  grid-template-areas: "header header" "fecha fecha" "cuerpo cuerpo" "titulo none" "noticias noticias" "footer footer ";
}

.cuenta__regresiva {
  justify-content: space-between;
  background: linear-gradient(to left, #860037, #860055, #860080);
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 0.8rem;
  overflow-x: scroll;
  color: white;
  grid-area: fecha;
  display: flex;
}
.cuenta__regresiva--titulo h3 {
  font-size: 1rem;
  font-weight: bold;
  padding-left: 10px;
}
.cuenta__regresiva--proximo {
  display: flex;
}
.cuenta__regresiva--proximo img {
  width: auto;
  height: 18vh;
  padding: 5px;
}

.cuerpo__index {
  padding-top: 3%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 2%;
  grid-area: cuerpo;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.cuerpo__index__sec__video {
  height: 40vh;
}
.cuerpo__index__sec__video video {
  height: 100%;
  width: 100%;
}
.cuerpo__index__mensaje__bienvenida {
  font-size: 1rem;
  padding: 20px;
  font-weight: 400;
}

.mensaje__mascota {
  position: absolute;
  position: fixed;
  left: 10px;
  top: 80vh;
  box-shadow: 5px 5px 5px 5px black;
}
.mensaje__mascota img {
  width: 20vw;
  height: 8vh;
}

.noticias {
  grid-area: noticias;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 3%;
  background: linear-gradient(to right, #860037, #860055, #860080);
}

.titulo_noticias {
  color: white;
  grid-area: titulo;
  font-size: 1.3rem;
  font-weight: 600;
  padding-left: 1vw;
  justify-content: left;
  align-content: flex-start;
}

@media (min-width: 600px) {
  .body__principal {
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 100vh 20vh 120vh 10vh 210vh 60vh;
    grid-template-areas: "header header" "fecha fecha" "cuerpo cuerpo" "titulo none" "noticias noticias" "footer footer ";
  }
}
@media (min-width: 768px) {
  .cuenta__regresiva {
    justify-content: space-between;
    background: linear-gradient(to left, #860037, #860055, #860080);
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 0.8rem;
    overflow-x: scroll;
    color: white;
    grid-area: fecha;
    font-weight: 500;
    display: flex;
  }
  .cuenta__regresiva--titulo h3 {
    justify-content: center;
    font-size: 1.5rem;
  }
  .cuenta__regresiva--proximo {
    display: flex;
  }
  .cuenta__regresiva img {
    width: 20vw;
    height: 22vh;
  }
  .body__principal {
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 100vh 30vh 120vh 10vh 210vh 40vh;
    grid-template-areas: "header header" "fecha fecha" "cuerpo cuerpo" "titulo none" "noticias noticias" "footer footer ";
  }
}
@media (min-width: 1024px) {
  .body__principal {
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 100vh 20vh 70vh 50vh 80vh 30vh;
    grid-template-areas: "header header" "fecha fecha" "cuerpo cuerpo" "titulo none" "noticias noticias" "footer footer ";
  }
  .cuerpo__index {
    padding-top: 3%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 2%;
    grid-area: cuerpo;
    display: flex;
    flex-direction: row;
    align-content: center;
  }
  .cuerpo__index__mensaje__bienvenida {
    font-size: 1.2rem;
    padding: 20px;
    font-weight: 400;
  }
  .cuerpo__index__sec__video {
    height: 80vh;
    width: 45vw;
  }
  .cuerpo__index__sec__video video {
    height: 80vh;
    width: 45vw;
    justify-self: center;
  }
  .cuerpo__index__mensaje__bienvenida {
    font-size: 1.2rem;
    padding: 60px;
    font-weight: 400;
    align-self: flex-start;
  }
  .cuerpo__index .mensaje__mascota {
    position: absolute;
    position: fixed;
    left: 10px;
    top: 80vh;
    box-shadow: 5px 5px 5px 5px black;
  }
  .cuerpo__index .mensaje__mascota img {
    width: 20vw;
    height: 40vh;
  }
  .cuenta__regresiva {
    justify-content: space-between;
    background: linear-gradient(to left, #860037, #860055, #860080);
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 1.2rem;
    overflow-x: hidden;
    color: white;
    grid-area: fecha;
    font-weight: 500;
    display: flex;
  }
  .cuenta__regresiva--titulo h3 {
    justify-content: center;
    font-size: 1.5rem;
  }
  .cuenta__regresiva--proximo {
    display: flex;
  }
  .cuenta__regresiva img {
    width: 15vw;
    height: 18vh;
  }
}
@media (min-width: 1200px) {
  .mensaje__mascota {
    position: absolute;
    position: fixed;
    left: 10px;
    top: 60vh;
    box-shadow: 5px 5px 5px 5px black;
  }
  .mensaje__mascota img {
    width: 20vw;
    height: 20vh;
  }
}
.cuerpo__grupos {
  display: grid;
  grid-template-columns: 98vw;
  grid-template-rows: 25vh 100vh 30vh;
  grid-template-areas: "encabezado" "grupos" "footer";
}

.grupos {
  grid-area: grupos;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.seccion__grupos__notas {
  padding: 5%;
}

.seccion__grupos__notas p {
  padding: 5%;
  font-size: 1.5rem;
}

.seccion__grupos img {
  width: 90vw;
  height: 40vh;
}

.mapa__clasificados {
  padding: 1%;
  width: 95vw;
  justify-content: center;
}

.mapa__clasificados h2 {
  padding: 2%;
  font-size: 1.5rem;
  font-weight: 800;
}

.mapa__clasificados img {
  width: 90%;
  height: 30vh;
}

@media (min-width: 600px) {
  .seccion__grupos img {
    width: 95vw;
    height: 70vh;
  }
  .mapa__clasificados {
    padding: 1%;
    width: 95vw;
  }
  .mapa__clasificados img {
    width: 95vw;
    height: 70vh;
  }
}
@media (min-width: 1024px) {
  .cuerpo__grupos {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 25vh 100vh 30vh;
    grid-template-areas: "encabezado" "grupos" "footer";
  }
  .seccion__grupos__notas p {
    padding: 5%;
    font-size: 1.2rem;
  }
  .seccion__grupos__notas h2 {
    font-size: 2rem;
  }
  .mapa__clasificados h2 {
    padding: 2%;
    font-size: 2rem;
    font-weight: 800;
  }
  .seccion__grupos img {
    width: 95vw;
    height: 90vh;
  }
  .mapa__clasificados {
    padding: 1%;
  }
  .mapa__clasificados img {
    width: 80vw;
    height: 100vh;
  }
}
.footer_nuevo {
  grid-area: footer;
  background-color: #811e71;
  width: 99%;
}

.footer_nuevo--index {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer_nuevo--index .navegador {
  color: white;
  padding-top: 30px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer_nuevo--index .navegador ul li a {
  color: white;
  text-decoration: none;
  text-decoration-color: white;
  font-size: larger;
}
.footer_nuevo--index .footer_redes {
  padding-left: 10px;
  justify-content: center;
}

.cuerpo__fixture {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 30vh 300vh 30vh 30vh;
  grid-template-areas: "encabezado" "fixture" "finales" "footer";
}

.fixture {
  grid-area: fixture;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: center;
}

.nota__fixture {
  padding: 2%;
}

.nota__fixture h2 {
  font-size: 2rem;
}

.nota__fixture p {
  font-size: 1.3rem;
  font-weight: 300;
  padding: 2%;
}

.fixture__grupos img {
  width: 94%;
  padding-left: 3%;
}

.fase_final {
  grid-area: finales;
  display: flex;
  flex-direction: column;
}

.etapa__final {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: center;
  justify-self: center;
  padding-left: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 90vw;
}
.etapa__final h3 {
  color: white;
  background-color: #860050;
  font-size: 1.8rem;
}
.etapa__final h4 {
  color: white;
  background-color: #860080;
  font-size: 1.2rem;
}
.etapa__final p {
  font-weight: 600;
  font-size: 1.4rem;
}
.etapa__final--llaves {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  align-content: center;
  padding: 3%;
}

@media (min-width: 600px) {
  .cuerpo__fixture {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 30vh 400vh 30vh 30vh;
    grid-template-areas: "encabezado" "fixture" "finales" "footer";
  }
}
.logo_secundario {
  width: 100%;
  height: 70%;
}

.menu_secundario {
  background: linear-gradient(to left, #860037, #860055, #860080);
  color: white;
}

.titulo_secundario {
  background: linear-gradient(to right, #860037, #860055, #860080);
  color: white;
}

.item_menu {
  color: white;
}

.encabezado__principal {
  background-image: url(../img/fondoindex.jpeg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/fondoindex.jpeg);
  background-repeat: none;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 999;
  height: 100vh;
  width: 100%;
  grid-area: header;
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 25vh 25vh 30vh 30vh;
  grid-template-areas: "titulo logo" "subtitulo subtitulo" "none none" "menu menu";
}
.encabezado__principal .contenedor__logo {
  top: 2vw;
  grid-area: logo;
  justify-self: center;
  padding-top: 3vh;
  padding-left: 1vw;
  transition-duration: 3s;
}
.encabezado__principal .contenedor__logo--img {
  padding-top: 3vh;
  height: 30vh;
  width: 18vw;
}
.encabezado__principal .contenedor__logo:hover {
  transform: scale(1.5);
}
.encabezado__principal h1 {
  color: white;
  font-size: 2rem;
  font-weight: 900;
  padding-top: 3vh;
  padding-left: 2vw;
  align-self: center;
  grid-area: titulo;
  width: auto;
  height: auto;
}
.encabezado__principal h2 {
  padding-top: 1vh;
  padding-left: 2vw;
  width: auto;
  height: auto;
  color: white;
  font-size: 1rem;
  font-weight: 900;
  grid-area: subtitulo;
}

.offcanvas {
  background-color: #860060;
}
.offcanvas h5 {
  color: white;
}

.offcanvas-body {
  background-color: #860040;
  color: white;
  font-size: 1.2rem;
}
.offcanvas-body a {
  color: white;
}

.navbar-toggler {
  color: white;
  border-color: white;
}
.navbar-toggler-icon {
  color: white;
}

@media (min-width: 768px) {
  .encabezado__principal .contenedor__logo {
    padding-top: 6vh;
    padding-right: 4vw;
  }
  .encabezado__principal h1 {
    color: white;
    font-size: 3rem;
    font-weight: 900;
    padding-top: 3vh;
    padding-left: 2vw;
    align-self: center;
    grid-area: titulo;
    width: auto;
    height: auto;
  }
  .encabezado__principal h2 {
    padding-top: 1vh;
    padding-left: 2vw;
    width: auto;
    height: auto;
    color: white;
    font-size: 2rem;
    font-weight: 900;
    grid-area: subtitulo;
  }
}
@media (min-width: 1024px) {
  .encabezado__principal .contenedor__logo {
    padding-top: 6vh;
  }
  .encabezado__principal .contenedor__logo--img {
    height: 35vh;
    width: 18vw;
  }
}

/*# sourceMappingURL=styles.css.map */
