 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:  'Roboto', sans-serif,'Courier New', Courier, monospace;
}
.logo{
    width: 24vw;
    height: 24vh;   
    border-radius: 100%;
}
.encabezado_principal{
    background-image: url(../img/fondoindex.jpeg);
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(../img/fondoindex.jpeg);
    background-repeat: none;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.menu_principal{
    border-top: solid 2px white;
    border-bottom: solid 2px white;
}
.video{
    width: 45vw;
    height: 60vh;
}