 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:  'Roboto', sans-serif,'Courier New', Courier, monospace;
}
.logo{
    width: 23vw;
    height: 26vh;   
    border-radius: 100%;
    padding-top: 3vh;
}

.encabezado_principal{
    background-image: url(../img/fondoindex.jpeg);
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(../img/fondoindex.jpeg);
    background-repeat: none;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.menu_principal{
    border-top: solid 0.4px white;
    border-bottom: solid 0.4px white;
}
.fecha_inicio{
    background: linear-gradient(to left, #860037,#860055,#860080);
    color: white;
}
.video{
    width: 45vw;
    height: 60vh;
}
.subtitulo{
    margin-left: 3vw;
    color: white;
    font-size: 3rem;
}
.titulo{
    margin-left: 3vw;
    color: white;
    padding-top: 3vh;
    font-size: 5rem;
    font-weight: bold;
}
.logo_secundario{
    width: 80%;
    height: 80%;
}
.menu_secundario{
    background: linear-gradient(to left, #860037,#860055,#860080);
    color: white;
}
.titulo_secundario{
    background: linear-gradient(to right, #860037,#860055,#860080);
    color: white;
}
.item_menu{
    color: white;
}
.imagen{
    height: 100vh;
}
.card-img-top{
    height: 200px;
   
}
.bg-qatar1{
    background-color:#860080;
}
.bg-qatar2{
    background-color: #860060;
}
.bg-qatar3{
    background-color: #860050;
}
.bg-qatar4{
    background-color: #860040;
}
.bg-qatar5{
    background-color: #860070;
}
.card-title{
    font-weight: bold;
}
