* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.boton {
  border-radius: 5%;
  background-color: #860050;
  color: white;
  font-size: 1.25rem;
  border-color: #860040;
}

.etapa__final {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: center;
  justify-self: center;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 95vw;
}

.bi-box-arrow-in-up-right {
  color: white;
  padding-left: 5%;
}

* {
  font-family: "Merriweather Sans", "Heebo" sans-serif;
}

.cuerpo_formulario {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-areas: "encabezado" "formulario" "footer";
}

.formularios {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 3px solid #860050;
  border-radius: 3%;
  margin: 5vh 5vw;
  background-image: url(../img/copa_mundo_mobile.jpg);
  background-repeat: none;
  background-size: cover;
  background-repeat: no-repeat;
}

.nota__formulario {
  grid-area: formulario;
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  height: auto;
  margin-top: 10px;
}

.nota__formulario h3 {
  font-size: 1.3rem;
  font-weight: 400;
  margin-top: 10px;
  margin-left: 15px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  height: 45vh;
  margin-right: 5vw;
}
.form .campo_form {
  font-weight: bold;
}

@media (min-width: 600px) {
  .formularios {
    width: 90%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #860050;
    border-radius: 3%;
    width: 45vw;
    margin: 5vh 5vw;
    background-image: url(../img/copa_mundo.jpg);
    background-repeat: none;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
  }
  .nota__formulario {
    grid-area: formulario;
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: auto;
    padding: 5px;
  }
  .nota__formulario h3 {
    font-size: 1.3rem;
    font-weight: 400;
    padding: 2%;
    width: 30vw;
  }
  .form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 3%;
    justify-content: space-around;
    height: 39vh;
  }
  .form .campo_form {
    font-weight: bold;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body__sedes {
  display: grid;
  grid-template-columns: 98vw;
  grid-template-areas: "sede" "footer";
}

.seccion__sedes {
  grid-area: sede;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  margin-left: 5vw;
  margin-top: 3vh;
  padding-top: 3vh;
}
.seccion__sedes .h2 {
  margin-top: 3vh;
  padding-top: 3vh;
  margin-bottom: 1vh;
  justify-content: left;
}
.seccion__sedes--tarjeta {
  width: 80%;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin-top: 1vh;
  margin-bottom: 1vh;
  padding: 5px 5px;
}
.seccion__sedes--tarjeta--img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

@media (min-width: 1024px) {
  .seccion__sedes--tarjeta {
    width: 90vw;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 15% 85%;
    grid-template-areas: "foto titulo" "foto texto";
  }
  .seccion__sedes--tarjeta--img {
    grid-area: foto;
    width: 45vw;
    height: 60vh;
    object-fit: cover;
    margin-right: 2vw;
    padding-right: 2vw;
  }
  .seccion__sedes--tarjeta .h3 {
    grid-area: titulo;
  }
  .seccion__sedes--tarjeta .p {
    grid-area: texto;
  }
}
.cuerpo__qatar {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-areas: "encabezado" "qatar" "footer";
}

.nota__qatar {
  grid-area: qatar;
}

.seccion__mapa img {
  width: 90vw;
  padding: 5%;
  object-fit: contain;
}

.aside__ciudades {
  padding: 2%;
}

@media (min-width: 1024px) {
  .seccion__mapa img {
    width: 90vw;
    height: 100vh;
    padding: 5%;
    object-fit: contain;
  }
}
.main__index {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-areas: "header" "proximos" "cuerpo" "noticias" "footer";
}

body {
  overflow-x: hidden;
}

.cuerpo__index {
  grid-area: cuerpo;
  display: flex;
  flex-direction: column;
  margin-top: 7vh;
  justify-content: center;
  align-items: center;
}
.cuerpo__index__sec__video {
  height: 50vh;
  padding-left: 10px;
  padding-right: 10px;
}
.cuerpo__index__sec__video video {
  height: 100%;
  width: 95%;
}
.cuerpo__index__mensaje__bienvenida {
  font-size: 1.25rem;
  padding: 20px;
  font-weight: 400;
  width: 95%;
}

.proximos__partidos {
  grid-area: proximos;
  width: 90vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 4vh;
  margin-top: 2vh;
}
.proximos__partidos h3 {
  border-bottom: 3px solid #860040;
  padding-left: 2vw;
}
.proximos__partidos .icono-calendario {
  color: #860050;
  padding-left: 20px;
}
.proximos__partidos .proximos__partidos--seccion {
  display: flex;
  flex-direction: column;
  margin-left: 2vw;
  margin-top: 2vh;
  border-bottom: 3px solid #860040;
}
.proximos__partidos .proximos__partidos--seccion .proximos__partidos--seccion--partido {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #860080;
  border-radius: 10px;
  margin-top: 2vh;
  width: 90vw;
  height: 40vh;
  margin-bottom: 2vh;
}
.proximos__partidos .proximos__partidos--seccion .proximos__partidos--seccion--partido h4 {
  border-bottom: 3px solid #860070;
  padding-left: 22%;
  width: 100%;
  font-size: 1.2rem;
}
.proximos__partidos .proximos__partidos--seccion .proximos__partidos--seccion--partido .estadio {
  padding-left: 1vw;
  background-color: #860050;
  border-radius: 3px;
  width: 100%;
  font-size: 1.2rem;
  padding-left: 22%;
}
.proximos__partidos .proximos__partidos--seccion .proximos__partidos--seccion--partido .estadio a {
  text-decoration: none;
  color: white;
}
.proximos__partidos .proximos__partidos--seccion .proximos__partidos--seccion--partido .estadio a:hover {
  cursor: pointer;
}
.proximos__partidos .proximos__partidos--seccion .proximos__partidos--seccion--partido .proximos__partidos--seccion--partido--paises {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: space-between;
}
.proximos__partidos .proximos__partidos--seccion .proximos__partidos--seccion--partido .proximos__partidos--seccion--partido--paises .proximos__partidos--seccion--partido--pais {
  display: flex;
  flex-direction: column;
  padding-right: 5vw;
  padding-left: 5vw;
  justify-content: center;
  align-items: center;
}
.proximos__partidos .proximos__partidos--seccion .proximos__partidos--seccion--partido .proximos__partidos--seccion--partido--paises .proximos__partidos--seccion--partido--pais img {
  width: 15vw;
  height: 14vh;
}
.proximos__partidos .proximos__partidos--seccion .proximos__partidos--seccion--partido .proximos__partidos--seccion--partido--paises .proximos__partidos--seccion--partido--pais .pais {
  font-weight: 700;
  font-size: 1rem;
}

.cuerpo_noticias {
  grid-area: noticias;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}
.cuerpo_noticias h3 {
  border-bottom: 3px solid #860040;
  padding-left: 2vw;
}
.cuerpo_noticias .tarjeta_noticia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px solid #860080;
  border-radius: 5px;
  margin-left: 2vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  width: 90%;
  height: 70vh;
}
.cuerpo_noticias .tarjeta_noticia img {
  height: 45vh;
  justify-items: center;
  padding: 5px;
  object-fit: cover;
}
.cuerpo_noticias .tarjeta_noticia h4 {
  color: #860080;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}
.cuerpo_noticias .tarjeta_noticia p {
  padding: 10px;
}

@media (min-width: 480px) {
  .tarjeta_noticia img {
    padding: 5px;
    margin-top: 3vh;
  }
}
@media (min-width: 600px) {
  .proximos__partidos {
    height: 160vh;
    margin-bottom: 4vh;
  }
  .proximos__partidos .proximos__partidos--seccion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 2vh;
  }
  .proximos__partidos .proximos__partidos--seccion .proximos__partidos--seccion--partido {
    width: 40vw;
    height: 40vh;
    margin-bottom: 2vh;
  }
  .proximos__partidos .proximos__partidos--seccion .proximos__partidos--seccion--partido h4 {
    padding-left: 15%;
  }
  .proximos__partidos .proximos__partidos--seccion .proximos__partidos--seccion--partido .estadio {
    padding-left: 15%;
  }
  .proximos__partidos .proximos__partidos--seccion .proximos__partidos--seccion--partido .proximos__partidos--seccion--partido--paises {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: space-between;
  }
  .proximos__partidos .proximos__partidos--seccion .proximos__partidos--seccion--partido .proximos__partidos--seccion--partido--paises .proximos__partidos--seccion--partido--pais .pais {
    font-weight: 700;
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  .proximos__partidos {
    height: 100vh;
    margin-bottom: 8vh;
  }
  .proximos__partidos .proximos__partidos--seccion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 2vh;
  }
  .proximos__partidos .proximos__partidos--seccion .proximos__partidos--seccion--partido {
    width: 30vw;
    height: 30vh;
    margin-bottom: 2vh;
  }
  .proximos__partidos .proximos__partidos--seccion .proximos__partidos--seccion--partido h4 {
    padding-left: 15%;
  }
  .proximos__partidos .proximos__partidos--seccion .proximos__partidos--seccion--partido .estadio {
    padding-left: 15%;
  }
  .proximos__partidos .proximos__partidos--seccion .proximos__partidos--seccion--partido .proximos__partidos--seccion--partido--paises {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: space-between;
  }
  .proximos__partidos .proximos__partidos--seccion .proximos__partidos--seccion--partido .proximos__partidos--seccion--partido--paises .proximos__partidos--seccion--partido--pais .pais {
    font-weight: 700;
    font-size: 1rem;
  }
  .proximos__partidos .proximos__partidos--seccion .proximos__partidos--seccion--partido .proximos__partidos--seccion--partido--paises .proximos__partidos--seccion--partido--pais img {
    width: 8vw;
    height: 8vh;
  }
  .cuerpo_noticias .tarjeta_noticia {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 15% 85%;
    grid-template-areas: "nfoto ntitulo" "nfoto nmensaje";
    border: 3px solid #860080;
    border-radius: 5px;
    margin-left: 2vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 90% vw;
    height: 40vh;
  }
  .cuerpo_noticias .tarjeta_noticia img {
    grid-area: nfoto;
    justify-items: center;
    padding: 5px;
    height: 80%;
    width: 80%;
    object-fit: cover;
  }
  .cuerpo_noticias .tarjeta_noticia h4 {
    grid-area: ntitulo;
    color: #860080;
    margin-top: 3vh;
    font-size: 1.2rem;
    font-weight: bold;
  }
  .cuerpo_noticias .tarjeta_noticia p {
    grid-area: nmensaje;
    padding-bottom: 5vh;
    margin-top: 2vh;
  }
}
@media (min-width: 1024px) {
  .main__index {
    grid-template-rows: 20vh 80vh 100vh 100vh;
  }
  .proximos__partidos {
    height: 80vh;
    width: 96vw;
  }
  .proximos__partidos .proximos__partidos--seccion .proximos__partidos--seccion--partido {
    width: 25vw;
    height: 30vh;
    margin-bottom: 2vh;
  }
  .proximos__partidos .proximos__partidos--seccion .proximos__partidos--seccion--partido h4 {
    padding-left: 24%;
  }
  .proximos__partidos .proximos__partidos--seccion .proximos__partidos--seccion--partido .estadio {
    padding-left: 24%;
  }
  .proximos__partidos .proximos__partidos--seccion .proximos__partidos--seccion--partido .proximos__partidos--seccion--partido--paises {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: space-between;
  }
  .proximos__partidos .proximos__partidos--seccion .proximos__partidos--seccion--partido .proximos__partidos--seccion--partido--paises .proximos__partidos--seccion--partido--pais .pais {
    font-weight: 700;
    font-size: 1rem;
  }
  .proximos__partidos .proximos__partidos--seccion .proximos__partidos--seccion--partido .proximos__partidos--seccion--partido--paises .proximos__partidos--seccion--partido--pais img {
    width: 6vw;
    height: 10vh;
  }
  .cuerpo__index {
    grid-area: cuerpo;
    display: flex;
    flex-direction: row;
    margin-top: 3vh;
    justify-content: center;
    align-items: startline;
  }
  .cuerpo__index__sec__video {
    height: 50vh;
    margin-top: 5vh;
  }
  .cuerpo__index__sec__video video {
    height: 45vh;
    width: 55vw;
  }
  .cuerpo__index__mensaje__bienvenida {
    font-size: 1.25rem;
    padding-right: 3vw;
    font-weight: 400;
  }
  .cuerpo_noticias {
    grid-area: noticias;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .cuerpo_noticias h3 {
    border-bottom: 3px solid #860040;
    padding-left: 2vw;
  }
  .cuerpo_noticias .cuerpo_noticias-notas {
    display: flex;
    flex-direction: row;
  }
  .cuerpo_noticias .cuerpo_noticias-notas .tarjeta_noticia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    border: 3px solid #860080;
    border-radius: 5px;
    margin-left: 2vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 30vw;
    height: 70vh;
  }
  .cuerpo_noticias .cuerpo_noticias-notas .tarjeta_noticia img {
    height: 40vh;
    width: 98%;
    justify-items: center;
    align-items: center;
    object-fit: cover;
  }
  .cuerpo_noticias .cuerpo_noticias-notas .tarjeta_noticia h4 {
    color: #860080;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
  }
  .cuerpo_noticias .cuerpo_noticias-notas .tarjeta_noticia p {
    padding: 10px;
  }
}
.cuerpo__grupos {
  display: grid;
  grid-template-columns: 98vw;
  grid-template-areas: "encabezado" "grupos" "footer";
}

.grupos {
  grid-area: grupos;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.seccion__grupos__notas {
  padding: 5%;
}
.seccion__grupos__notas h2 {
  padding-left: 2vw;
}

.seccion__grupos__notas p {
  padding: 5%;
  font-size: 1.25rem;
}

.seccion__grupos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.seccion__grupos--grupo {
  display: flex;
  flex-direction: column;
  border: 2px solid #860070;
  margin-top: 3vh;
  width: 90vw;
}
.seccion__grupos--grupo--encabezado {
  background-color: #860050;
  color: white;
  font-weight: bolder;
  padding-left: 2vw;
}
.seccion__grupos--grupo--pais {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding-left: 3vw;
  padding-top: 1vh;
  background-color: rgb(199, 195, 195);
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.seccion__grupos--grupo--pais img {
  width: 10vw;
  height: 9vh;
}
.seccion__grupos--grupo--pais p {
  margin-left: 2vw;
  font-weight: 600;
}

.mapa__clasificados {
  padding: 1%;
  width: 65vw;
  height: auto;
  justify-content: center;
  object-fit: contain;
}

.mapa__clasificados h2 {
  padding: 2%;
  font-size: 1.5rem;
  font-weight: 800;
}

.mapa__clasificados img {
  width: 90%;
  height: 30vh;
}

@media (min-width: 600px) {
  .seccion__grupos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
  .seccion__grupos--grupo {
    width: 40vw;
    margin-left: 3vw;
    margin-right: 3vw;
    display: flex;
    flex-direction: column;
    border: 2px solid #860070;
    margin-top: 3vh;
  }
  .seccion__grupos--grupo--encabezado {
    background-color: #860050;
    color: white;
    font-weight: bolder;
  }
  .seccion__grupos--grupo--pais {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-left: 3vw;
    padding-top: 1vh;
    background-color: rgb(199, 195, 195);
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
  .seccion__grupos--grupo--pais img {
    width: 10vw;
    height: 10vh;
  }
  .seccion__grupos--grupo--pais p {
    margin-left: 2vw;
  }
  .mapa__clasificados {
    padding: 1%;
    width: 95vw;
  }
  .mapa__clasificados img {
    width: 95vw;
    height: 70vh;
  }
}
@media (min-width: 1024px) {
  .cuerpo__grupos {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-areas: "encabezado" "grupos" "footer";
  }
  .seccion__grupos__notas p {
    padding: 5%;
    font-size: 1.25rem;
  }
  .seccion__grupos__notas h2 {
    font-size: 1.5rem;
  }
  .seccion__grupos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 2%;
  }
  .seccion__grupos--grupo {
    width: 20vw;
    margin-left: 1vw;
    margin-right: 1vw;
    display: flex;
    flex-direction: column;
    border: 2px solid #860070;
    margin-top: 3vh;
  }
  .seccion__grupos--grupo--encabezado {
    background-color: #860050;
    color: white;
    font-weight: bolder;
  }
  .seccion__grupos--grupo--pais {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-left: 1vw;
    padding-top: 1vh;
    background-color: rgb(199, 195, 195);
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
  .seccion__grupos--grupo--pais img {
    width: 6vw;
    height: 9vh;
  }
  .seccion__grupos--grupo--pais p {
    margin-left: 2vw;
  }
  .mapa__clasificados h2 {
    padding: 2%;
    font-size: 1.5rem;
    font-weight: 800;
  }
  .mapa__clasificados {
    padding: 5%;
  }
  .mapa__clasificados img {
    width: 80vw;
    height: 100vh;
  }
}
footer {
  grid-area: footer;
  margin-top: 5vh;
  background-color: white;
  border-bottom: 4px solid #860040;
  z-index: 999;
  display: grid;
  grid-template-columns: 49% 49%;
  grid-template-rows: 10% 20% 40% 20%;
  grid-template-areas: "titulo titulo" "subtitulo subtitulo" "fmenu fmenu" "fredes fredes";
}
footer .footer__titulo {
  grid-area: titulo;
  display: flex;
  align-items: flex-start;
  padding-bottom: 5vh;
  padding-top: 3vh;
  border-bottom: 4px solid #860040;
  padding-left: 4vw;
}
footer .footer__subtitulo {
  grid-area: subtitulo;
  font-style: oblique;
  margin-top: 1vh;
  padding-left: 4vw;
  padding-top: 2vh;
}
footer .footer__menu {
  grid-area: fmenu;
  padding-left: 4vw;
}
footer .footer__menu a {
  text-decoration: none;
  color: black;
}
footer .footer__menu a:hover {
  color: #860050;
  box-shadow: 5px 5px 5px 5px black;
  transition: 1s;
}
footer .footer__redes {
  grid-area: fredes;
  padding-left: 4vw;
  padding-top: 2vh;
  margin-bottom: 6vh;
}
footer .footer__redes a {
  font-size: 3rem;
}
footer .footer__redes .bi-twitch {
  color: blueviolet;
  padding-right: 3vw;
}
footer .footer__redes .bi-youtube {
  color: red;
  padding-left: 3vw;
}

.cuerpo__fixture {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-areas: "encabezado" "fixture" "finales" "calendario" "footer";
}

.nota__fixture {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: left;
  width: 95vw;
  padding-left: 2vw;
}
.nota__fixture p {
  padding: 10px;
}
.nota__fixture h2 {
  padding: 10px;
}

.fixture__grupos {
  grid-area: fixture;
  display: flex;
  flex-direction: column;
  width: 98vw;
  height: auto;
  margin-bottom: 5vh;
}
.fixture__grupos img {
  width: 10vw;
  height: 10vh;
}
.fixture__grupos--grupo {
  display: flex;
  flex-direction: column;
  border: 2px solid #860070;
  width: 97%;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 1vw;
}
.fixture__grupos--grupo--titulo {
  color: white;
  display: flex;
  background-color: #860050;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.fixture__grupos--grupo--titulo p {
  font-size: 1.2rem;
  font-weight: bold;
}
.fixture__grupos--grupo--fecha {
  display: flex;
  flex-direction: column;
}
.fixture__grupos--grupo--fecha--titulo {
  font-size: 1rem;
  font-weight: bold;
  border-bottom: 2px solid #860080;
  margin-left: 2vw;
}
.fixture__grupos--grupo--fecha--partidos {
  display: flex;
  flex-direction: row;
}
.fixture__grupos--grupo--fecha--partidos--seccion--partido {
  display: flex;
  flex-direction: column;
  width: 47vw;
  height: 42vh;
  border: 1px solid #860060;
  border-radius: 10px;
  justify-content: center;
  align-content: center;
  padding: 3%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  margin-top: 2%;
}
.fixture__grupos--grupo--fecha--partidos--seccion--partido .estadio {
  padding-left: 1vw;
  background-color: #860050;
  border-radius: 3px;
  padding-left: 2%;
}
.fixture__grupos--grupo--fecha--partidos--seccion--partido .estadio:hover {
  cursor: pointer;
}
.fixture__grupos--grupo--fecha--partidos--seccion--partido .estadio a {
  text-decoration: none;
  color: white;
}
.fixture__grupos--grupo--fecha--partidos--seccion--partido--paises {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.fixture__grupos--grupo--fecha--partidos--seccion--partido--paises--pais {
  padding-left: 4px;
  justify-content: center;
  align-content: center;
}

.fase_final {
  grid-area: finales;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.etapa__final h3 {
  color: white;
  background-color: #860050;
  font-size: 1.3rem;
}
.etapa__final h4 {
  color: white;
  background-color: #860080;
  font-size: 1.2rem;
}
.etapa__final p {
  font-weight: 600;
  font-size: 1.25rem;
}
.etapa__final--llaves {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  align-content: center;
  padding: 3%;
}

.calendario {
  grid-area: calendario;
  margin-top: 6vh;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
  overflow: scroll;
}
.calendario img {
  object-fit: contain;
}
.calendario h3 {
  border-bottom: 3px solid #860040;
  padding-left: 2vw;
  justify-content: left;
  width: 100%;
}

.etapa__final--final {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url(../img/copa_mundo.jpg);
  background-repeat: none;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50vw;
  height: 40vh;
  border: 0ch;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  padding-top: 10%;
  margin-left: 10%;
  color: white;
  font-weight: bold;
  border: none;
  font-weight: bold;
  font-size: larger;
  margin-bottom: 2vh;
}
.etapa__final--final p {
  padding-left: 5px;
}

@media (min-width: 1024px) {
  .fixture__grupos {
    grid-area: fixture;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 98vw;
    height: auto;
    margin-bottom: 5vh;
  }
  .fixture__grupos img {
    width: 6vw;
    height: 9vh;
  }
  .fixture__grupos--grupo {
    display: flex;
    flex-direction: column;
    border: 2px solid #860070;
    width: 45vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
  }
  .fixture__grupos--grupo--titulo {
    color: white;
    display: flex;
    background-color: #860050;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .fixture__grupos--grupo--titulo p {
    font-size: 1.2rem;
    font-weight: bold;
  }
  .fixture__grupos--grupo--fecha {
    display: flex;
    flex-direction: column;
  }
  .fixture__grupos--grupo--fecha--titulo {
    font-size: 1rem;
    font-weight: bold;
    border-bottom: 2px solid #860080;
    margin-left: 1vw;
    width: 97%;
  }
  .fixture__grupos--grupo--fecha--partidos {
    display: flex;
    flex-direction: row;
  }
  .fixture__grupos--grupo--fecha--partidos--seccion--partido {
    display: flex;
    flex-direction: column;
    width: 47%;
    height: 30vh;
    border: 1px solid #860060;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    padding: 3%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-top: 2%;
  }
  .fixture__grupos--grupo--fecha--partidos--seccion--partido .estadio {
    padding-left: 1vw;
    background-color: #860050;
    border-radius: 3px;
    padding-left: 2%;
  }
  .fixture__grupos--grupo--fecha--partidos--seccion--partido .estadio:hover {
    cursor: pointer;
  }
  .fixture__grupos--grupo--fecha--partidos--seccion--partido .estadio a {
    text-decoration: none;
    color: white;
  }
  .fixture__grupos--grupo--fecha--partidos--seccion--partido--paises {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .fixture__grupos--grupo--fecha--partidos--seccion--partido--paises--pais {
    padding-left: 4px;
    justify-items: center;
    align-items: center;
  }
  .fase_final {
    grid-area: finales;
    display: grid;
    margin-top: 10vh;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 30vh 30vh 30vh 30vh;
    grid-template-areas: "octavos cuartos" "octavos semi" "octavos tercer" "octavos final";
  }
  .octavos {
    grid-area: octavos;
  }
  .cuartos {
    grid-area: cuartos;
  }
  .semi {
    grid-area: semi;
  }
  .tercer {
    grid-area: tercer;
  }
  .final {
    grid-area: final;
  }
  .etapa__final {
    width: 95%;
    height: 100%;
  }
  .etapa__final h3 {
    color: white;
    background-color: #860050;
    font-size: 1.3rem;
  }
  .etapa__final h4 {
    color: white;
    background-color: #860080;
    font-size: 1.2rem;
  }
  .etapa__final p {
    font-weight: 600;
    font-size: 1.25rem;
  }
  .etapa__final--llaves {
    width: 100%;
    height: 100%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-content: center;
    padding: 3%;
  }
  .etapa__final--final {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url(../img/copa_mundo.jpg);
    background-repeat: none;
    object-fit: cover;
    background-repeat: no-repeat;
    width: 98%;
    height: 95%;
    border: 0ch;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    justify-self: right;
    align-content: flex-end;
    padding-top: 10%;
    color: white;
    font-weight: bold;
    border: none;
    font-weight: bold;
    font-size: larger;
  }
  .calendario {
    grid-area: calendario;
    margin-top: 6vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: 150vh;
    overflow-x: hidden;
  }
  .calendario img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .calendario h3 {
    border-bottom: 3px solid #860040;
    padding-left: 2vw;
    justify-content: left;
    width: 100%;
  }
}
.encabezado__sencundario {
  display: grid;
  grid-template-columns: 80vw 20vw;
  grid-template-areas: "titulo logo";
  width: 100vw;
  height: 18vh;
  margin-bottom: 2vh;
  background: linear-gradient(to right, #860037, #860055, #860080);
  color: white;
}
.encabezado__sencundario--titulo {
  grid-area: titulo;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 3vw;
}
.encabezado__sencundario--logo {
  grid-area: logo;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.encabezado__sencundario--logo img {
  height: 18vh;
  width: 100%;
  object-fit: contain;
}

.menu_secundario {
  background: linear-gradient(to left, #860037, #860055, #860080);
  color: white;
}

.menu__secundario--icono {
  justify-content: right;
}

.item_menu {
  color: white;
}

.encabezado__principal {
  background-image: url(../img/fondoindex.jpeg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/fondoindex.jpeg);
  background-repeat: none;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 999;
  height: 100vh;
  grid-area: header;
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 25vh 25vh 30vh 30vh;
  grid-template-areas: "titulo titulo" "subtitulo subtitulo" "none logo" "menu menu";
}
.encabezado__principal .contenedor__logo {
  top: 2vw;
  grid-area: logo;
  justify-self: right;
  align-items: flex-end;
  padding-right: 2vw;
  transition-duration: 3s;
}
.encabezado__principal .contenedor__logo--img {
  height: 30vh;
  width: 18vw;
  object-fit: contain;
}
.encabezado__principal .contenedor__logo:hover {
  transform: scale(1.5);
}
.encabezado__principal h1 {
  color: white;
  font-size: 2rem;
  font-weight: 900;
  padding-top: 3vh;
  align-self: center;
  grid-area: titulo;
  width: auto;
  height: auto;
  margin-left: 3vw;
}
.encabezado__principal h2 {
  padding-top: 1vh;
  width: auto;
  height: auto;
  color: white;
  font-size: 1.5rem;
  font-weight: 900;
  grid-area: subtitulo;
  margin-left: 3vw;
}

.navbar_index {
  margin-top: 9vh;
  margin-right: 3vw;
  position: absolute;
}

.offcanvas {
  background-color: #860060;
}
.offcanvas h5 {
  color: white;
}

.offcanvas-body {
  background-color: #860040;
  color: white;
  font-size: 1.25rem;
}
.offcanvas-body a {
  color: white;
}

.navbar-toggler {
  color: white;
  border-color: white;
}
.navbar-toggler-icon {
  color: white;
}

@media (min-width: 768px) {
  .encabezado__principal .contenedor__logo {
    padding-top: 6vh;
    padding-right: 4vw;
  }
  .encabezado__principal h1 {
    color: white;
    font-size: 2rem;
    font-weight: 900;
    padding-top: 3vh;
    padding-left: 2vw;
    align-self: center;
    grid-area: titulo;
    width: auto;
    height: auto;
  }
  .encabezado__principal h2 {
    padding-top: 1vh;
    padding-left: 2vw;
    width: auto;
    height: auto;
    color: white;
    font-size: 1.5rem;
    font-weight: 900;
    grid-area: subtitulo;
  }
}
@media (min-width: 1024px) {
  .encabezado__principal .contenedor__logo {
    padding-top: 6vh;
  }
  .encabezado__principal .contenedor__logo--img {
    height: 35vh;
    width: 18vw;
  }
}

/*# sourceMappingURL=styles.css.map */
