.logo_secundario{
    width: 80%;
    height: 90%;
    object-fit: cover;
}

.menu_secundario{
    background: linear-gradient(to left, #860037,#860055,#860080);
    color: white;
}
.menu__secundario--icono{
    justify-content: right;
}
.titulo_secundario{
    background: linear-gradient(to right, #860037,#860055,#860080);
    color: white;
}
.item_menu{
    color: white;
}