

.encabezado__principal{
    background-image: url(../img/fondoindex.jpeg);
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(../img/fondoindex.jpeg);
    background-repeat: none;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    grid-area: header;
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 25vh 25vh 30vh 20vh;
    grid-template-areas: 
    "titulo logo"
    "subtitulo subtitulo"
    "none none"
    "menu menu"
    ;
    .contenedor__logo{
        top: 1vw;
        grid-area: logo;
        justify-self:center;
        padding-top: 2vh;
        padding-left: 1vw;
        transition-duration: 3s;
        &--img{
            border-radius: 100%;
            width: 28vw;
            height: 25vh;
            padding-top: 3vh;
        }
        &:hover{
            transform: scale(1.5);
        }
    }
    h1{
        color: white;
        font-size: 2rem;
        font-weight: 900;
        padding-top: 3vh;
        padding-left: 2vw;
        align-self: center;
        grid-area: titulo;
        width: auto;
        height: auto;
    }
    h2{
        padding-top: 1vh;
        padding-left: 2vw;
        width: auto;
        height: auto;
        color: white;
        font-size: 1rem;
        font-weight: 900;
        grid-area: subtitulo;
    }
}

.navegador{
    color: white;
    grid-area: menu;
    width: 100vw;
    ul{
        border-top:  solid 1px;
        border-bottom: solid 1px;
        transition-duration: 0.3s;
        display: flex;
        overflow: scroll;
        flex-direction: row;
    
        li{
            display: inline-block;
            color: white;
            width: 20vh;
            padding: 10px;
            a{
                color: white;
                text-decoration: none;
                text-decoration-color: white;
                font-size: larger;
            }
            &:hover{
                transform: translatey(-15%);
                color: grey;
                font-weight: 900;
            }
        }
    }
}
@media(min-width: 768px){
    .encabezado__principal{
        .contenedor__logo{
            padding-top: 6vh;
            padding-right: 4vw;
            &--img{
                border-radius: 100%;
                width: 30vw;
                height: 30vh;
            }
        }
        h1{
            color: white;
            font-size: 3rem;
            font-weight: 900;
            padding-top: 3vh;
            padding-left: 2vw;
            align-self: center;
            grid-area: titulo;
            width: auto;
            height: auto;
        }
        h2{
            padding-top: 1vh;
            padding-left: 2vw;
            width: auto;
            height: auto;
            color: white;
            font-size: 2rem;
            font-weight: 900;
            grid-area: subtitulo;
        }
    }
    .navegador{
        color: white;
        grid-area: menu;
        display: flex;
        align-content: center;
        flex-direction: column;    
        ul{
            padding-left: 3vw;
            overflow:hidden;
        }
    }

}
@media(min-width: 1024px){
    .encabezado__principal{
        .contenedor__logo{
            padding-top: 6vh;
            &--img{
                border-radius: 100%;
                    width: 20vw;
                height: 28vh;
            }
        }
    }
    .navegador{
        color: white;
        grid-area: menu;
        display: flex;
        align-content: center;
        flex-direction: column;
        ul{
            padding-left: 3vw;
            overflow:hidden;
            li{
                width: 15vw;
            } 
        }
    }
}
