

.encabezado__principal{
    background-image: url(../img/fondoindex.jpeg);
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(../img/fondoindex.jpeg);
    background-repeat: none;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 999;
    height: 100vh;
    grid-area: header;
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 25vh 25vh 30vh 30vh;
    grid-template-areas: 
    "titulo titulo"
    "subtitulo subtitulo"
    "none logo"
    "menu menu"
    ;
    .contenedor__logo{
        top: 2vw;
        grid-area: logo;
        justify-self:right;
        align-items: flex-end;
        padding-right: 2vw;
        transition-duration: 3s;
        &--img{
            padding-top: 3vh;
            height: 30vh;
            width: 18vw;
        }
        &:hover{
            transform: scale(1.5);
        }
    }
    h1{
        color: white;
        font-size: map-get($escalasFuentes, "titulos-1" );
        font-weight: 900;
        padding-top: 3vh;
        align-self: center;
        grid-area: titulo;
        width: auto;
        height: auto;
    }
    h2{
        padding-top: 1vh;
        width: auto;
        height: auto;
        color: white;
        font-size: map-get($escalasFuentes, "titulos-2" );
        font-weight: 900;
        grid-area: subtitulo;
    }
}
.offcanvas{
    background-color: $color-terciario;
    h5{
    color: white;
    }
}
.offcanvas-body{
    background-color: $color-4;
    color: white;
    font-size: map-get($escalasFuentes, "l" );
    a{
        color: white;
    }
}
.navbar-toggler{
    color: white;
    border-color:  white;
    &-icon{
        color: white;
    }
}


@media(min-width: 768px){
    .encabezado__principal{
        .contenedor__logo{
            padding-top: 6vh;
            padding-right: 4vw;
        }
        h1{
            color: white;
            font-size: map-get($escalasFuentes, "titulos-1" );
            font-weight: 900;
            padding-top: 3vh;
            padding-left: 2vw;
            align-self: center;
            grid-area: titulo;
            width: auto;
            height: auto;
        }
        h2{
            padding-top: 1vh;
            padding-left: 2vw;
            width: auto;
            height: auto;
            color: white;
            font-size: map-get($escalasFuentes, "titulos-2" );
            font-weight: 900;
            grid-area: subtitulo;
        }
    }
    

}
@media(min-width: 1024px){
    .encabezado__principal{
        .contenedor__logo{
            padding-top: 6vh;
            &--img{
                height: 35vh;
                width: 18vw;
            }
        }
    }
}

