.cuerpo__fixture{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 30vh 300vh 30vh 30vh ;
    grid-template-areas:
    "encabezado"
    "fixture"
    "finales"
    "footer";
}
.fixture{
    grid-area: fixture;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
}
.nota__fixture{
    padding: 2%;
}
.nota__fixture h2{
    font-size: 2rem;
}
.nota__fixture p{
    font-size: map-get($escalasFuentes, "l" );
    font-weight: 300;
    padding: 2%;
}
.fixture__grupos{
    justify-content: center;
     img{
    width: 94%;
}
}
.fase_final{
    grid-area: finales;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.etapa__final{
    @extend %etapa__final;
    h3{
        color:white;
        background-color: $color-principal;
        font-size: map-get($escalasFuentes, "titulos-3" );
    }
    h4{
        color:white;
        background-color: $color-secundario;
        font-size: map-get($escalasFuentes, "titulos-4" );
    }
    p{
        font-weight: 600;
        font-size: map-get($escalasFuentes, "l" );
    }
    &--llaves{
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        @include centradoFlex;
        padding: 3%;
    }
}

.etapa__final--final{
    background-image:linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.7)), url(../img/copa_mundo.jpg);
    background-repeat: none;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50vw;
    height: 40vh;
    border: 0ch;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items:center;
    align-content: space-around;
    padding-top: 10%;
    margin-left: 10%;
    color: white;
    font-weight: bold;
    border: none;
    font-weight: bold;
    font-size: larger;
    margin-bottom: 2vh;   
    p{
        padding-left: 5px;
    }
}


@media(min-width: 600px){
    .cuerpo__fixture{
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 30vh 400vh 30vh 30vh ;
        grid-template-areas:
        "encabezado"
        "fixture"
        "finales"
        "footer";
    }
}


@media (min-width: 1024px){
    .etapa__final--final{
        background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.7)),url(../img/copa_mundo.jpg);
        background-repeat: none;
        background-size: cover;
        background-repeat: no-repeat;
        width: 40vw;
        height: 50vh;
        border: 0ch;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        justify-self: right;
        align-content:flex-end;
        padding-top: 10%;
        margin-left: 10%;
        color: white;
        font-weight: bold;
        border: none;
        font-weight: bold;
        font-size: larger;
        margin-bottom: 2vh;   
    }

}
