.body__principal{
    display: grid;
    grid-template-columns: 50vw 49vw;
    grid-template-rows: 100vh 10vh 130vh 10vs 150vh 10vh;
    grid-template-areas:
    "header header"
    "fecha fecha"
    "cuerpo cuerpo"
    "titulo none"
    "noticias noticias"
    "footer footer "
    ;
}
.cuenta__regresiva{
    justify-content: center;
    background: linear-gradient(to left, #860037,#860044,#860050);
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 0.8rem;
    color: white;
    grid-area: fecha;
    font-weight: 500;
    display: flex;
}
.cuenta__regresiva--titulo{
    justify-content: center;
}
.cuerpo__index{ 
    padding-top: 3%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 2%;
    grid-area: cuerpo;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.cuerpo__index__sec__video {
    height: 40vh;
    width: 80vw;
}
.cuerpo__index__sec__video video{
    height: 100%;
    width: 100%;
    justify-self: center;
}
.cuerpo__index__mensaje__bienvenida{
    font-size: 1rem;
    padding: 20px;
    font-weight: 400;
}
.noticias{
    grid-area: noticias;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 3%;
    background: linear-gradient(to right, #860037,#860055,#860080);
}
.titulo_noticias{
    color: white;
    grid-area: titulo;
    font-size: 1.3rem;
    font-weight: 600;
    padding-left: 1vw;;
    justify-content: left;
    align-content: flex-start;
}
@media(min-width: 768px){
    .cuenta__regresiva{
        background: linear-gradient(to left, #860037,#860044,#860050);
        padding-bottom: 10px;
        padding-top: 10px;
        font-size: 1rem;
        color: white;
        grid-area: fecha;
        font-weight: 500;
        display: flex;
    }
    .cuenta__regresiva--titulo{
        justify-content: center;
    }
}
@media(min-width: 1024px){
    .body__principal{
        display: grid;
        grid-template-columns: 50vw 50vw;
        grid-template-rows: 100vh 10vh 130vh 15vs 100vh 10vh;
        grid-template-areas:
        "header header"
        "fecha fecha"
        "cuerpo cuerpo"
        "titulo none"
        "noticias noticias"
        "footer footer "
        ;
    }
    .cuerpo__index__mensaje__bienvenida{
        font-size: 1.2rem;
        padding: 20px;
        font-weight: 400;
    }
    .cuerpo__index{ 
        padding-top: 3%;
        padding-left: 1%;
        padding-right: 1%;
        padding-bottom: 2%;
        grid-area: cuerpo;
        display: flex;
        flex-direction: row;
        align-content: center;
    }
    .cuerpo__index__sec__video {
        height: 80vh;
        width: 45vw;
    }
    .cuerpo__index__sec__video video{
        height: 80vh;
        width: 45vw;
        justify-self: center;
    }
    .cuerpo__index__mensaje__bienvenida{
        font-size: 1.2rem;
        padding: 60px;
        font-weight: 400;
        align-self:flex-start;
    }
}


