.body__principal{
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 100vh 20vh 220vh 10vh 190vh 100vh;
    grid-template-areas:
    "header header"
    "fecha fecha"
    "cuerpo cuerpo"
    "titulo none"
    "noticias noticias"
    "footer footer "
    ;
}
.cuenta__regresiva{
    justify-content:space-between;
    background: linear-gradient(to left, #860037,#860055,#860080);
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: map-get($escalasFuentes, "titulos-3" );
    overflow-x:scroll;
    color: white;
    grid-area: fecha;
    display: flex;
    &--titulo h3{
        font-size: map-get($escalasFuentes, "titulos-3" );
        font-weight: bold;
        padding-left: 10px;
    
    }
    &--proximo{
        display: flex;
        img{
            width: auto;
            height: 18vh;
            padding: 5px;
        }
    }
}

.cuerpo__index{ 
    padding-top: 3%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 2%;
    grid-area: cuerpo;
    display: flex;
    flex-direction: column;
    align-content:center;
    align-items: center;
    &__sec__video {
        height: 40vh;
        video{
            height: 100%;
            width: 100%;
       
        }
    }
    &__mensaje__bienvenida{
        font-size: map-get($escalasFuentes, "l" );
        padding: 20px;
        font-weight: 400;
    }
}
.mensaje__mascota{
    position:absolute;
    position: fixed;
    left: 10px;
    top:80vh;
    box-shadow: 5px 5px 5px 5px black;
        img{
        width: 20vw;
        height: 8vh;
        }
    &:hover{
        cursor:pointer;
    }    
        
    }
.noticias{
    grid-area: noticias;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 3%;
    background: linear-gradient(to right, #860037,#860055,#860080);
}
.titulo_noticias{
    color: white;
    grid-area: titulo;
    font-size: map-get($escalasFuentes, "titulos-4" );
    font-weight: 600;
    padding-left: 1vw;;
    justify-content: left;
    align-content: flex-start;
}

@media(min-width: 600px){
    .body__principal{
        grid-template-rows: 100vh 20vh 150vh 10vh 190vh 100vh;
    }
}
@media(min-width: 768px){
    .body__principal{
        grid-template-rows: 100vh 30vh 140vh 10vh 140vh 95vh;
    }
    .cuenta__regresiva{
        justify-content:space-between;
        background: linear-gradient(to left, #860037,#860055,#860080);
        padding-bottom: 10px;
        padding-top: 10px;
        font-size: map-get($escalasFuentes, "l" );
        overflow-x:scroll;
        color: white;
        grid-area: fecha;
        font-weight: 500;
        display: flex;
        &--titulo h3{
            justify-content: center;
            font-size: map-get($escalasFuentes, "titulos-3" );
        }
        &--proximo{
            display: flex;
        }
        img{
            width: 20vw;
            height: 22vh;
        }
    }
    .mensaje__mascota{
        position:absolute;
        position: fixed;
        left: 10px;
        top:80vh;
        box-shadow: 5px 5px 5px 5px black;
            img{
            width: 20vw;
            height: 15vh;
            }
        &:hover{
            cursor:pointer;
        }    
            
        }
}
@media(min-width: 1024px){
    .body__principal{
        grid-template-rows: 100vh 20vh 100vh 10vh 70vh 70vh;
    }
    .cuerpo__index{ 
        padding-top: 3%;
        padding-left: 1%;
        padding-right: 1%;
        padding-bottom: 2%;
        grid-area: cuerpo;
        display: flex;
        flex-direction: row;
        align-content: center;
        &__mensaje__bienvenida{
            font-size: map-get($escalasFuentes, "l" );
            padding: 20px;
            font-weight: 400;
        }
        &__sec__video {
            height: 80vh;
            width: 45vw;
            video{
                height: 80vh;
                width: 45vw;
                justify-self: center;
            }
        }
        &__mensaje__bienvenida{
            font-size: map-get($escalasFuentes, "l" );
            padding: 60px;
            font-weight: 400;
            align-self:flex-start;
        }
        .mensaje__mascota{
            position:absolute;
            position: fixed;
            left: 10px;
            top:80vh;
            box-shadow: 5px 5px 5px 5px black;
                img{
                width: 12vw;
                height: 30vh; 
                }
        }
    }
    .cuenta__regresiva{
        justify-content:space-between;
        background: linear-gradient(to left, #860037,#860055,#860080);
        padding-bottom: 10px;
        padding-top: 10px;
        font-size: map-get($escalasFuentes, "titulos-3" );
        overflow-x:hidden;
        color: white;
        grid-area: fecha;
        font-weight: 500;
        display: flex;
        &--titulo h3{
            justify-content: center;
            font-size: map-get($escalasFuentes, "titulos-3" );
        }
        &--proximo{
            display: flex;
        }
        img{
            width: 15vw;
            height: 18vh;
        }
    }
}
@media(min-width: 1200px){
    .mensaje__mascota{
        position:absolute;
        position: fixed;
        left: 10px;
        top:60vh;
        box-shadow: 5px 5px 5px 5px black;
            img{
            width: 20vw;
            height: 20vh;
            }
    }
    .body__principal{
        grid-template-rows: 100vh 20vh 100vh 10vh 70vh 80vh;
    }
}


