.main__index{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 20vh 270vh 270vh 230vh 100vh;
    grid-template-areas:
    "header"
    "proximos"
    "cuerpo"
    "noticias"
    "footer"
    ;
}

.cuerpo__index{ 
    grid-area: cuerpo;
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
    justify-content: left;
    &__sec__video {
        height: 50vh;
        video{
            height: 100%;
            width: 95%;
        }
    }
    &__mensaje__bienvenida{
        font-size: map-get($escalasFuentes, "l" );
        padding: 20px;
        font-weight: 400;
        width: 95%;
    }
}

.proximos__partidos{
    grid-area: proximos;
    width: 90vw;
    display: flex;
    flex-direction: column;
    padding-left: 1vw;
    margin-top: 1vh;
    h3{
        border-bottom: 3px solid $color-4;
        padding-left: 2vw ;
    }
    .proximos__partidos--seccion{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2vh;
        border-bottom: 3px solid $color-4;
        .proximos__partidos--seccion--partido{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 2px solid $color-secundario;
            border-radius: 10px;
            margin-top: 2vh;
            width: 90vw;
            height: 40vh;
            margin-bottom: 2vh;
            h4{
                border-bottom: 3px solid $color-5;
                padding-left: 22%;
                width: 100%;
                font-size: 1.2rem;
            }
            .estadio{
                padding-left: 1vw;
                background-color: $color-principal;
                border-radius: 3px;
                width: 100%;
                font-size: 1.2rem;
                padding-left: 22%;
                &:hover{
                    cursor: pointer;
                }
                a{
                    text-decoration: none;
                    color:white;
                    
                }  
            }
            .proximos__partidos--seccion--partido--paises{
                display: flex;
                flex-direction: row;
                justify-items: center;
                align-items: space-between;
                .proximos__partidos--seccion--partido--pais{
                    display: flex;
                    flex-direction: column;
                    padding-right: 5vw;
                    padding-left: 5vw;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 13vw;
                        height: 10vh;
                    }
                    .pais{
                        font-weight: 700;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

.cuerpo_noticias{
    grid-area: noticias;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    h3{
        border-bottom: 3px solid $color-4;
        padding-left: 2vw ;
    }
    .tarjeta_noticia{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 3px solid $color-secundario;
        border-radius: 5px;
        margin-left: 2vw;
        margin-top: 2vh;
        margin-bottom: 2vh;
        width: 90%;
        height: 70vh;
        img{
            height: 45vh;
            justify-items: center;
            padding: 5px;
            object-fit: cover;
        }
        h4{
            color: $color_secundario;
            padding: 10px;
            font-size: map-get($escalasFuentes, "titulos-4" );
            font-weight: bold;
        }
        p{
            padding: 10px;
        }
    }
}


@media(min-width: 480px){
    .main__index{
        grid-template-rows: 20vh 280vh 250vh 240vh 100vh;
    }
    .tarjeta_noticia{
        img{

            padding: 5px;
            margin-top: 3vh;

        }
     
    }
}



@media(min-width: 600px){
    .main__index{
        grid-template-rows: 20vh 160vh 150vh 240vh 100vh;
    }
    .proximos__partidos{
        height: 160vh;
        .proximos__partidos--seccion{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            margin-top: 2vh;
            .proximos__partidos--seccion--partido{
                width: 40vw;
                height: 40vh;
                margin-bottom: 2vh;
                h4{
                    padding-left: 15%;
                }
                .estadio{
                    padding-left: 15%; 
                }
                .proximos__partidos--seccion--partido--paises{
                    display: flex;
                    flex-direction: row;
                    justify-items: center;
                    align-items: space-between;
                    .proximos__partidos--seccion--partido--pais{
                        .pais{
                            font-weight: 700;
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
    
}

@media(min-width: 768px){
    .main__index{
        grid-template-rows: 20vh 125vh 150vh 150vh 100vh;
    }

    .proximos__partidos{
        height: 100vh;
        .proximos__partidos--seccion{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            margin-top: 2vh;
            .proximos__partidos--seccion--partido{
                width: 30vw;
                height: 30vh;
                margin-bottom: 2vh;
                h4{
                    padding-left: 15%;
                }
                .estadio{
                    padding-left: 15%; 
                }
                .proximos__partidos--seccion--partido--paises{
                    display: flex;
                    flex-direction: row;
                    justify-items: center;
                    align-items: space-between;
                    .proximos__partidos--seccion--partido--pais{
                        .pais{
                            font-weight: 700;
                            font-size: 1rem;
                        }
                        img{
                            width: 8vw;
                            height: 8vh;
                        }
                    }
                }
            }
        }
    }
    


    .cuerpo_noticias{
        .tarjeta_noticia{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 15% 85%;
        grid-template-areas: 
        "nfoto ntitulo"
        "nfoto nmensaje"
        ;
        border: 3px solid $color-secundario;
        border-radius: 5px;
        margin-left: 2vw;
        margin-top: 2vh;
        margin-bottom: 2vh;
        width: 90%vw;
        height: 40vh;
        img{
            grid-area: nfoto;
            justify-items: center;
            padding: 5px;
            height: 80%;
            width: 80%;
            object-fit: cover;
        }
        h4{
            grid-area: ntitulo;
            color: $color_secundario;
            margin-top: 3vh;
            font-size: map-get($escalasFuentes, "titulos-4" );
            font-weight: bold;
        }
        p{
            grid-area: nmensaje;
            padding-bottom: 5vh;
            margin-top: 2vh;
        }
        }
    }
}

@media(min-width: 900px){
    
    .main__index{
        grid-template-rows: 20vh 130vh 120vh 140vh 100vh;
    }
}


@media(min-width: 1024px){
    
    .main__index{
        grid-template-rows: 20vh 80vh 100vh 100vh;
    }

    .body__principal{
    overflow-x: hidden;
    }

    .proximos__partidos{
        height: 80vh;
        width: 96vw;
        .proximos__partidos--seccion{
            .proximos__partidos--seccion--partido{
                width: 25vw;
                height: 30vh;
                margin-bottom: 2vh;
                h4{
                    padding-left: 24%;
                }
                .estadio{
                    padding-left: 24%; 
                }
                .proximos__partidos--seccion--partido--paises{
                    display: flex;
                    flex-direction: row;
                    justify-items: center;
                    align-items: space-between;
                    .proximos__partidos--seccion--partido--pais{
                        .pais{
                            font-weight: 700;
                            font-size: 1rem;
                        }
                        img{
                            width: 6vw;
                            height: 8vh;
                        }
                    }
                }
            }
        }
    }

    .cuerpo__index{ 
        grid-area: cuerpo;
        display: flex;
        flex-direction: row;
        margin-top: 3vh;
        justify-content: center;
        align-items: startline;
        &__sec__video {
            height: 50vh;
            margin-top: 5vh;
            video{
                height: 45vh;
                width: 55vw;
            }
        }
        &__mensaje__bienvenida{
            font-size: map-get($escalasFuentes, "l" );
            padding-right: 3vw;
            font-weight: 400;
        }
    }
    .cuerpo_noticias{
        grid-area: noticias;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        h3{
            border-bottom: 3px solid $color-4;
            padding-left: 2vw ;
        }
        .cuerpo_noticias-notas{
            display: flex;
            flex-direction: row;
            .tarjeta_noticia{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: left;
                border: 3px solid $color-secundario;
                border-radius: 5px;
                margin-left: 2vw;
                margin-top: 2vh;
                margin-bottom: 2vh;
                width: 30vw;
                height: 70vh;
                    img{
                        height: 40vh;
                        width: 98%;
                        justify-items: center;
                        align-items: center;
                        object-fit: cover;
                    }
                    h4{
                        color: $color_secundario;
                        padding: 10px;
                        font-size: map-get($escalasFuentes, "titulos-4" );
                        font-weight: bold;
                    }
                    p{
                        padding: 10px;
                    }
                }
        }
    }
}



    



