.cuerpo__qatar{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 30vh 80vh 30vh ;
    grid-template-areas:
    "encabezado"
    "qatar"
    "footer";
}
.nota__qatar{
    grid-area: qatar;
}
.seccion__mapa img{
    width: 90vw;
    height: 95vh;
    padding: 5%;
    object-fit: contain;
}
.aside__ciudades{
    padding: 2%;
}
@media(min-width: 600px){
    .cuerpo__qatar{
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 30vh 100vh 30vh ;
        grid-template-areas:
        "encabezado"
        "qatar"
        "footer";
    }
}
@media(min-width: 768px){
    .cuerpo__qatar{
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 30vh 100vh 30vh ;
        grid-template-areas:
        "encabezado"
        "qatar"
        "footer";
    }
}
@media(min-width: 1024px){
    .cuerpo__qatar{
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 30vh 100vh 30vh ;
        grid-template-areas:
        "encabezado"
        "qatar"
        "footer";
    }
    .seccion__mapa img{
        width: 90vw;
        height: 100vh;
        padding: 5%;
        object-fit: contain;
    }
}
