.cuerpo__qatar{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-areas:
    "encabezado"
    "qatar"
    "footer";
}
.nota__qatar{
    grid-area: qatar;
}
.seccion__mapa img{
    width: 90vw;
    padding: 5%;
    object-fit: contain;
}
.aside__ciudades{
    padding: 2%;
}


@media(min-width: 1024px){
    
    .seccion__mapa img{
        width: 90vw;
        height: 100vh;
        padding: 5%;
        object-fit: contain;
    }
}
