*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body__sedes{
    display: grid;
    grid-template-columns: 98vw;
    grid-template-areas: 
    "sede"
    "footer"
    ;
}

.seccion__sedes{
    grid-area: sede;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    margin-left: 5vw;
    margin-top: 3vh;
    padding-top: 3vh;
    .h2{
        margin-top: 3vh;
        padding-top: 3vh;
        margin-bottom: 1vh;
        justify-content: left;
    }
    
    &--tarjeta{
        width: 80%;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        margin-top: 1vh;
        margin-bottom: 1vh;
        padding: 5px 5px;
        
        &--img{
            width: 100%;
            height: 30vh;
            object-fit: cover;
        }
    }
}

@media(min-width: 1024px){

    .seccion__sedes{
        &--tarjeta{
            width: 90vw;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 15% 85%;
            grid-template-areas: 
            "foto titulo"
            "foto texto"
            ;
            &--img{
                grid-area: foto;
                width: 45vw;
                height: 60vh;
                object-fit: cover;
                margin-right: 2vw;
                padding-right: 2vw;
            }
            .h3{
                grid-area: titulo;
            }
            .p{
                grid-area: texto;
            }
        }
    }
}
