.cuerpo_formulario{
    display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 30vh 40vh 30vh ;
        grid-template-areas:
        "encabezado"
        "formulario"
        "footer";
}

.formularios{
    width: 90%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
}
    .nota__formulario{
        grid-area: formulario;
    }
    .nota__formulario h3{
        font-size: 1rem;
        font-weight: 700;
        padding: 2%;
    }
    .form{
        display: flex;
        flex-direction: column;
        padding: 3%;
        align-self:center;
        justify-self: center;
        height: 60vh;
    }