@mixin centradoFlex {
    justify-content: center;
    justify-self: center;
    align-content: center;
    
}


$colores: (

    "bordo-primario": $color-principal,
    "bordo-secundario": $color-secundario,
    "bordo-terciario": $color-terciario,
    "bordo-alt-1": $color-4,
    "bordo-alt-2": $color-5,
    "color-footer": $color_footer,
);

$escalasFuentes: (

    "normal": 1rem,
    "xs": 0.5rem,
    "s": 0.75rem,
    "l": 1.25rem,
    "xl": 1.5rem,
    "titulos-1": 2rem,
    "titulos-2": 1.5rem,
    "titulos-3": 1.3rem,
    "titulos-4": 1.2rem,
);

.boton{
    border-radius: 5%;
    background-color: $color-principal;
    color: white;
    font-size: map-get($escalasFuentes, "l" ); 
    border-color: $color-4;
};

%etapa__final {
display: flex;
flex-direction: column;
flex-wrap: nowrap;
align-content: flex-start;
justify-content: center;
justify-self: center;
padding-top: 1%;
padding-bottom: 1%;
width: 95vw;
};

.bi-box-arrow-in-up-right{
    color: white;
    padding-left: 5%;
}



